  /* Header */
.logo
{
    font-family: 'Lora';
    font-size: 26px;
    color: #2E2E2E;
}

.nav__item
{
    font-family: 'Oxygen';
    font-size: 12px;
    color: #2E2E2E;
    text-transform: uppercase;
    margin: 0 10px;
}

/* Content */
.post__title
{
    font-family: 'Lora';
    font-size: 50px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.post__subtitle
{
    font-family: 'Oxygen';
    font-size: 17px;
    color: rgba(46, 46, 46, 0.63);
    margin-bottom: 113px;
}

.post__img
{
    width: 100%;
}

.post__text
{
    width: 960px;
    font-family: 'Oxygen';
    font-size: 24px;
    line-height: 1.46;
    color: #101315;
    margin-bottom: 20px;
}

/* Footer */
.footer
{
  z-index: 1;
  background: url(../srs/img/articles_img/bg-footer.png) center center / cover no-repeat;
    min-height: 89px;
    position: relative;
}

.footer::before
{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 47, 56, 0.6);
}

.footer__logo
{
    font-family: 'Lora';
    font-size: 26px;
    color: #FFFFFF;
}

.footer__nav__item
{
    font-family: 'Oxygen';
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
